.form-group shiny-input-container {
	margin-bottom: 0px;
}

.box-body {
	padding-top: 0px;
}

.box-header {
	padding-bottom: 0px;
}

.last-updated { 
  font-size: 18px;
  line-height: 50px;
  text-align: left;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  padding: 0 15px;
  overflow: hidden;
  color: white;
}
    